
.tree ul {
    position: relative;
    padding: 1em 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}
.tree ul::after {
    content: '';
    display: table;
    clear: both;
}

.tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 1em .5em 0 .5em;
}
.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #3d40cc;
    width: 50%;
    height: 1em;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #3d40cc;
}
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}
.tree li:only-child {
    padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}
.tree li:last-child::before {
    border-right: 1px solid #3d40cc;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #3d40cc;
    width: 0;
    height: 1em;
}

.tree li a {
    border: 1px solid #3d40cc;
    padding: .5em .75em;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    color: #333;
    position: relative;
    top: 1px;
}

textarea{
    font-size:14px;
    border-radius:6px;
    box-shadow:2px 2px 8px rgba(0,0,0,.3);
    padding: 10px;

}

